<h1><%= t("editing_currency_converter") %></h1>
<% form_for(:currency_converter, :url => object_url, :html => { :method => :put }) do |f| %>
<%= render :partial => "form", :locals => { :f => f } %>
<p class="form-buttons">
  <%= button t("update") %>
  <%= link_to t('cancel'), collection_url %>
</p>
<% end -%>
